<div ng-controller="CtrlOrdenesA">
    <ol class="breadcrumb">
        <li class=""><a href="#/">Home</a></li>
        <li class=""><a href="#">&Oacute;rdenes</a></li>
        <li class="active"><a href="#">Ajuste</a></li>
    </ol>
    <div class="page-heading">            
        <h1>&Oacute;rdenes de ajuste</h1>
        <div class="options">
            <div class="btn-toolbar">
                <a ng-click="redNOrdenA()" ng-disabled="isDisabled" class="btn btn-default"><i class="fa fa-fw fa-plus"></i>Crear &oacute;rden de ajuste</a>
            </div>
        </div>
    </div>
    <div class="tab-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">   
                    <table class="table table-hover">
                        <thead>
                            <tr class="info">
                                <th>&Oacute;rden de ajuste</th> 
                                <th>&Oacute;rden a Ajustar</th> 
                                <th>Fecha</th> 
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="order in ordenesA">
                                <td><a href="#/app-vistaOrdenCInd/{{order.id}}">{{order.number}}</a></td>
                                <td>{{order.supplier.name}}</td>
                                <td>order.date</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>