<div ng-controller="CtrlAlmacen">
    <ol class="breadcrumb">
        <li class=""><a href="#/">Home</a></li>
        <li class=""><a href="#/app-vistaLocacion/{{almacenes.location.id}}">{{almacenes.location.name}}</a></li>
        <li class="active"><a href="#">Almacen {{almacenes.name}}</a></li>
    </ol>

    <div class="page-heading">            
        <h1>Productos en {{almacenes.name}}</h1>
        <div class="options">
            <div class="btn-toolbar">
                <a ng-click="nuevoDivisor()" class="btn btn-default"><i class="fa fa-fw fa-plus"></i>Crear Divisor</a>
                <a ng-click="cargarOrden()" class="btn btn-default"><i class="fa fa-fw fa-plus"></i>CargarOrden</a>
            </div>
        </div>
    </div>
    <div class="tab-content" >
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-12">   
                    <table class="table table-hover">
                        <thead>
                            <tr class="info">
                                <th>Producto</th> 
                                <th>Variante</th> 
                                <th>Marca</th> 
                                <th>Disponible</th> 
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="var in almacenes.variant_warehouses">
                                <td><a ng-click="varProdAl(var.variant.product_id)">{{ var.variant.prodName }}</a></td>
                                <td> {{var.variant.name}} </td>
                                <td> {{var.variant.brand}} </td>
                                <td> {{var.stock}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>