<div ng-controller="CtrlPrestamos">
    <ol class="breadcrumb">
        <li class=""><a href="#/">Home</a></li>
        
        <li class="active"><a href="#">Ordenes</a></li>
        <li class="active"><a href="#">Transferencia</a></li>
    </ol>
    <div class="page-heading">            
        <h1>&Oacute;rdenes de transferencia</h1>
        <div class="options">
            <div class="btn-toolbar">
                <a href="#/app-nuevoPrestamo"  class="btn btn-default"><i class="fa fa-fw fa-plus"></i>Crear &oacute;rden</a>
            </div>
        </div>
    </div>
    <div class="tab-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">   
                    <table class="table table-hover">
                        <thead>
                            <tr class="info">
                                <th>Folio</th> 
                                <th>Prestamista</th> 
                                <th>Prestatario</th> 
                                <th>Estado</th> 
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="pres in prestamos">
                                <td><a href="#/app-vistaLoanInd/{{pres.id}}">{{pres.number}}</a></td>
                                <td>{{pres.origin.warehouse.location_name}} - {{pres.origin.warehouse.name}} - {{pres.origin.name}}</td>
                                <td>{{pres.destination.warehouse.location_name}} - {{pres.destination.warehouse.name}} - {{pres.destination.name}}</td>
                                <td>{{pres.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>