<style type="text/css">
.borde-input
{
  border-style: solid;
}
.top-buffer { margin-top:20px; }
</style>
<div ng-controller="CtrlPrestamos">
  <ol class="breadcrumb">
      <li class=""><a href="#/">Home</a></li>
      <li class=""><a href="#">Ordenes</a></li>
      <li class=""><a href="#/app-vistaPrestamos">Prestamo</a></li>
      <li class="active"><a href="#">Nuevo</a></li>
  </ol>
  <div class="page-heading">
    <h1>Nuevo prestamo</h1>
  </div>
  <div class="container-fluid">
    <form name="productForm" ng-submit="submitOrd()">
        <div class="row ">
          <div class="col-md-8 col-md-offset-2 borde-input">
            <div class="title"><h3>&Oacute;rden de prestamo</h3></div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="LocPres">Seleccione la Locaci&oacute;n:</label>
                  <select id="LocPres" name="LocPres" class="form-control" ng-change="almacenesOrigen()" ng-model="LocOrigen">
                    <option value="">Locaci&oacute;n Origen</option>
                    <option ng-repeat="option in locations" value="{{option.id}}">{{option.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="oriPre">Seleccione el origen:</label>
                  <select id="oriPre" name="oriPre" class="form-control" ng-model="divOrigen" ng-change="prodDiv()">
                    <option value="">Almacen / Divisor</option>
                    <option ng-repeat="option in opciones_origen" value="{{option.id_div}}">{{option.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Prestatario">Prestatario:</label>
                  <input id="Prestatario" type="text" class="form-control" ng-model="prestatario" placeholder="Prestatario">
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
        <div class="row top-buffer">

          <div class="col-md-offset-2 col-md-8 borde-input">
            
            <button data-ng-click="cloneItem()" type="button" class="btn inline">
              Agregar producto
            </button>
              <div class="row" ng-repeat="variant in variants">
                <div class="col-md-5">
                  <label for="productSupp">Productos:</label>
                  <select id="productSupp" name="productSupp" class="form-control" ng-model="variant.id_var" ng-change="checkAb($index,variant.id_var)">
                    <option ng-repeat="optionPT in ProdVarDiv.variant_divisions" value="{{optionPT.variant.id}}">{{optionPT.variant.prodName}} / {{optionPT.variant.name}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="productSupp">Disponibles:</label>
                  <span>{{variant.max}}</span>
                </div>
                <div class="col-md-2">
                  <label for="productSupp">Cantidad:</label>
                  <input type="number" max="{{variant.max}}" class="form-control" ng-model="variant.amount" placeholder="cantidad">
                </div>
                <div class="col-md-2">
                  <button data-ng-click="removeItem($index)" type="button" class="btn delete-field-{{$index}} ">
                      Eliminar
                  </button>
                </div>
              </div>
                
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-md-offset-5">
            <input type="submit" class="btn btn-primary pull-right" value="Crear Orden" style="background-color:#93351F;border-color:#93351F;">
            <a href="#/app-vistaFacturacion" ng-disabled="SubmitOnce" style="padding: 7px 15px;" class="pull-right">Cancelar</a>
            
          </div>
        </div>
    </form>
    </div>
</div>
