<div ng-controller="EditCtrl">
  <ol class="breadcrumb">
    <li class=""><a href="#/">Home</a></li>
    <li class=""><a href="#/">Dashboard</a></li>
    <li class=""><a href="#/app-vistaMarcas">Marcas</a></li>
    <li class="active"><a href="#">Nueva</a></li>
  </ol>
  <div class="page-heading">
    <h1>Nueva Marca</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default"><i class="fa fa-fw fa-wrench"></i></a>
        </div>
    </div>
  </div>
  <div class="tab-content">
    <h1>Formulario para crear marca</h1>
      <form>
            <input type="text" ng-model="formData.name" placeholder="Nombre" />
            
            <button type="submit" class="btn btn-primary" ng-click="sub(formData)">Submit</button>
      </form>
      <br />
  </div>
</div>