<div ng-controller="EditCtrlDivisas">
  <ol class="breadcrumb">
    <li class=""><a href="#/">Home</a></li>
    <li class=""><a href="#/">Dashboard</a></li>
    <li class=""><a href="#/app-vistaDivisas">Divisas</a></li>
    <li class="active"><a href="#">Nueva</a></li>
  </ol>
  <div class="page-heading">
    <h1>Nueva Divisa</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default"><i class="fa fa-fw fa-wrench"></i></a>
        </div>
    </div>
  </div>
  <div class="tab-content">
    <h1>Formulario para crear divisa</h1>
      <form name="personForm2"  ng-submit="sub(divisaN)">
        <label for="lastNameEdit3">Divisa:</label>
        <input id="lastNameEdit3" type="text" name="nombre" ng-model="divisaN.shortcut" required /><br />
        <label for="firstNameEdit3">Nombre:</label>
        <input id="firstNameEdit3" type="text" name="desc" ng-model="divisaN.name" required /><br />
        
        <br />
        <input type="submit" value="Save" class="btn btn-primary">
      </form>
      <br />
  </div>
</div>