<div ng-controller="EditCtrlProveedor">
  <ol class="breadcrumb">
    <li class=""><a href="#/">Home</a></li>
    <li class=""><a href="#/app-vistaProveedor">Proveedores</a></li>
    <li class="active"><a href="#">Edicion </a></li>
  </ol>
  <div class="page-heading">
    <h1>Proveedor {{suppUProxy.name}}</h1>
    
  </div>
  <div class="tab-content">
    <h1>Formulario para editar</h1>
      <label for="supplierName">Nombre:</label>
      <form name="supplierFormEd" ng-submit="editTest(suppUProxy)">
      <input id="supplierNameEd" type="text" name="name" ng-model="suppUProxy.name" required /><br />
      <label for="supplierMailEd">Correo:</label>
      <input id="supplierMailEd" type="text" name="mail" ng-model="suppUProxy.email" required /><br />
      
      <label for="supplierCurrEd">Divisa:</label>
      <select id="supplierCurrEd" ng-model="suppUProxy.currency_id">
        
        <option ng-repeat="option in currProxy" value="{{option.id}}" ng-selected="suppUProxy.currency.id==option.id" >{{option.shortcut}}:{{option.name}}</option>
      </select></br>
      <label for="supplierWebEd">P&aacute;gina:</label>
      <input id="supplierWebEd" type="text" name="web" ng-model="suppUProxy.website" required /><br />
      <label for="supplierPhoneEd">Tel&eacute;fono:</label>
      <input id="supplierPhoneEd" type="text" name="phone" ng-model="suppUProxy.phone" required /><br />
      
      <br />
      <input type="submit" value="Guardar" class="btn btn-primary">
    </form> 
  </div>
</div>