<style type="text/css">
.borde-input
{
  border-style: solid;
}
.top-buffer { margin-top:20px; }
.bor-tab{border-style: solid;
    border-width: 1px;}
.row-head{text-align: center;
    background-color: #DDD;
}
.row-cont{text-align: center;}
hr{    border-top-color: #455A64}
.TotAltura{    line-height: 47px;}
    </style>
<div ng-controller="CtrlTransfInd">
  <ol class="breadcrumb">
      <li class=""><a href="#/">Home</a></li>
      <li class=""><a href="#">Orden</a></li>
      <li class=""><a href="#/app-vistaTransferencias">Transferencia</a></li>
      <li class="active"><a href="#">{{TransInd.number}}</a></li>
  </ol>
  <div class="page-heading">
    <h1>&Oacute;rden de transferencia {{TransInd.number}}</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a ng-click="changeStatus()" ng-show="TransInd.status=='Pendiente'" class="btn btn-default"><i class="fa fa-fw fa-send"></i>Transferida</a>
        </div>
    </div>
  </div>
  <div class="container-fluid">
      <div class="row borde-input">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <span>No. de &oacute;rden: <strong>{{TransInd.number}}</strong></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                    <label for="clienteOrden">Origen:</label>
                  </div>
                  <div class="col-md-9">
                    {{TransInd.origin.warehouse.location_name}} - {{TransInd.origin.warehouse.name}} - {{TransInd.origin.name}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                    <label for="domicilioOrden">Destino:</label>
                  </div>
                  <div class="col-md-9">
                    {{TransInd.destination.warehouse.location_name}} - {{TransInd.destination.warehouse.name}} - {{TransInd.destination.name}}
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
      <div class="row top-buffer">     
        <div class="col-md-12 borde-input">
          <div class="title"><h3>Productos a transferir</h3></div>
        <div class="row no-gutter  top-buffer">
            <div class="col-sm-12 ">
              <table class="table table-hover">
                <thead>
                  <tr class="info">
                    
                    <th>Producto</th>
                    <th>Variante</th>
                    <th>Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="variant in TransInd.transfer_variants">
                    <td>{{variant.product_name}}</td>
                    <td>{{variant.variant.name}}</td>
                    <td>{{variant.amount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
           <!-- Aqui termina la clonacion de orden-->
        </div>
      </div>
  </div>
</div>
