<div ng-controller="CtrlListas">
  <ol class="breadcrumb">
    <li class=""><a href="#/">Home</a></li>
    <li class=""><a href="#/app-vistaListas">Listas</a></li>
    <li class="active"><a href="#">Editar Criterio {{criterioEdit.name}} </a></li>
  </ol>
  <div class="page-heading">
    <h1>Editar Critero {{criterioEdit.name}}</h1>
  </div>
  <div class="tab-content">
    <form>
      <input type="text" ng-model="criterioEdit.name" placeholder="Nombre" />
      <button type="submit" class="btn btn-primary" ng-click="editCrit()">Submit</button>
    </form>
  </div>
</div>