
<div ng-controller="CtrlLocacionNueva">
  <ol class="breadcrumb">
      <li class=""><a href="#/">Home</a></li>
      <li class="active"><a href="#">Nueva Locacion</a></li>
  </ol>
  <div class="page-heading">
    <h1>Nuevo Locacion</h1>
  </div>
  <div class="tab-content">
    <form name="locacionForm" ng-submit="nuevaLoc(clienteN)">
      <h3> Informaci&oacute;n general</h3>
      <label for="NombreLoc">Nombre:</label>
      <input id="NombreLoc" type="text" name="NombreLoc" ng-model="locacion.name" required /><br />
      <label for="ColoniaLoc">Colonia:</label>
      <input id="ColoniaLoc" type="text" name="ColoniaLoc" ng-model="locacion.neighborhood" required /><br />
      <label for="CalleLoc">Calle:</label>
      <input id="CalleLoc" type="text" name="CalleLoc" ng-model="locacion.street" required /><br />
      <label for="NumeroLoc">Numero:</label>
      <input id="NumeroLoc" type="number" name="NumeroLoc" ng-model="locacion.number" required /><br />
      <label for="EntidadLoc">Entidad:</label>
      <input id="EntidadLoc" type="text" name="EntidadLoc" ng-model="locacion.municipality" required /><br />
      <label for="MunicipioLoc">Municipio:</label>
      <input id="MunicipioLoc" type="text" name="MunicipioLoc" ng-model="locacion.state" required /><br />
      <label for="CpLoc">CP:</label>
      <input id="CpLoc" type="number" name="CpLo" ng-model="locacion.zipcode" required /><br />
      <input type="submit" value="Guardar" class="btn btn-primary">
      <br />
    </form>    
  </div>
  </div>