<div ng-controller="CtrlFacturacion">
  <ol class="breadcrumb">
    <li class=""><a href="#/">Home</a></li>
    <li class=""><a href="#/app-vistaFacturacion">Facturacion</a></li>
    <li class="active"><a href="#">Editar Divisa</a></li>
  </ol>
  <div class="page-heading">
    <h1>Divisa {{currenciesEd.name}}</h1>
  </div>
  <div class="tab-content">
      <form name="personForm2"  ng-submit="editDivisa()">
        <label for="Divisa3">Divisa:</label>
        <input id="Divisa3" type="text" name="nombre" ng-model="currenciesEd.shortcut" required /><br />
        <label for="Nombre3">Nombre:</label>
        <input id="Nombre3" type="text" name="desc" ng-model="currenciesEd.name" required /><br />
        <label for="unit3">Cambio:</label>
        <input id="unit3" type="number" name="unit" ng-model="currenciesEd.unit" required /><br />
        <br />
        <input type="submit" value="Guardar" class="btn btn-primary">
      </form>
      <br />
  </div>
</div>