<style type="text/css">
    
.borde-input
{
  border-style: solid;
}
.top-buffer { margin-top:20px; }
    </style>
<div ng-controller="CtrlEditarDirEnvio">
  <ol class="breadcrumb">
      <li class=""><a href="#/">Home</a></li>
      <li class=""><a href="#/app-vistaClientes">Clientes</a></li>
      <li class=""><a href="#/app-vistaClienteInd/{{sendOrd.id}}">Cliente: {{sendOrd.client.nombre}}</a></li>
      <li class="active"><a href="#">Editar Envio</a></li>
  </ol>
  <div class="page-heading">
    <h1>Editar direccion de envio</h1>
  </div>
    <div class="container-fluid">
         <form name="EditarEnvio" ng-submit="editEnv()">
            <div class="tab-pane">
                <div class="row top-buffer ">
                    <div class="col-md-6 borde-input">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="ColCliEnEd">Colonia:</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"  id="ColCliEnEd" type="text" name="precio" ng-model="sendOrd.neighborhood"   required />
                                </div>
                            </div>  
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="CalleCliEnEd">Calle:</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"  id="CalleCliEnEd" type="text" name="desc" ng-model="sendOrd.street"  required />
                                </div>
                            </div>  
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="NumeroCliEnEd">Numero:</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"  id="NumeroCliEnEd" type="text" name="desc" ng-model="sendOrd.number"  required />
                                </div>
                            </div>  
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="EntCliEnEd">Entidad:</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"  id="EntCliEnEd" type="text" name="desc" ng-model="sendOrd.entity"  required />
                                </div>
                            </div>  
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="MunCliEnEd">Municipio:</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"  id="MunCliEnEd" type="text" name="desc" ng-model="sendOrd.municipalty"  required />
                                </div>
                            </div>  
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="cpCliEnEd">CP:</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"  id="cp" type="text" name="desc" ng-model="sendOrd.zipcode" required  />
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-primary pull-right" value="Guardar" style="background-color:#93351F;border-color:#93351F;">
                        <a style="padding: 7px 15px;" class="pull-right" href="#/app-vistaClienteInd/{{sendOrd.client.id}}">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>