<style type="text/css">
.bor-tab{border-style: solid;
    border-width: 1px;}
</style>

<div ng-controller="EditCtrlProveedor">
  <ol class="breadcrumb">
      <li class=""><a href="#/">Home</a></li>
      <li class=""><a href="#/app-vistaProductos">Productos</a></li>
      <li class="active"><a href="#">Proveedores</a></li>
  </ol>
  <div class="page-heading">
    <h1>Proveedores</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#/app-nuevoProveedor" class="btn btn-default"><i class="fa fa-fw fa-plus"></i>Agregar Proveedor</a>
        </div>
    </div>
  </div>
    <div class="tab-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ">   
                    <table class="table table-hover">
                        <thead>
                          <tr class="info">
                            <th>Nombre</th> 
                            <th>Correo</th> 
                            <th>Divisa</th> 
                            <th>P&acute;gina</th> 
                            <th>Telefono</th> 
                          </tr>
                        </thead>
                          <tr ng-repeat="supp in suppProxy">
                              <td><a href="#/app-vistaProveedorInd/{{supp.id}}">{{ supp.name }}</a></td>
                              <td>{{ supp.email }}</td>
                              <td>{{supp.currency.shortcut}}</td>
                              <td>{{ supp.website }}</td>
                              <td>{{ supp.phone }}</td>
                          </tr>
                    </table>  
                </div>
            </div>
        </div>
    </div>
</div>
