<style type="text/css">
    
.border-style
{
  border-style: solid;
}
.inMargin
{
  margin-top: 2.3rem;
}
    </style>
<div ng-controller="CtrlVariantInd">
	<ol class="breadcrumb">
        <li class=""><a href="#/">Home</a></li>
        <li class=""><a href="#/app-vistaProductos">Productos</a></li>
        <li class=""><a href="#/app-vistaProductoInd/{{variante.product.id}}">Producto: {{variante.product.name}}</a></li>
        <li class="active"><a href="#">Variante: {{variante.name}}</a></li>
	</ol>
	<div class="page-heading">
		<h1>{{variante.product.name}}: {{variante.name}}</h1>
		<div class="options">
	    	<div class="btn-toolbar">
	        	<a href="#/app-editarVariante/{{variante.id}}" class="btn btn-default"><i class="fa fa-fw fa-pencil"></i>Editar</a>
                <a ng-click="elimVar()" ng-show="variante.status=='A'" class="btn btn-default"><i class="fa fa-fw fa-trash"></i>Eliminar</a>
	    	</div>
		</div>
	</div>
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-5 border-style">
                <p><strong>Marca:</strong> {{ variante.product.brand.name }}</p>
                <p><strong>Proveedor:</strong> {{ variante.product.supplier.name }}</p>
            </div>
            <div class="col-md-5 col-md-offset-1 border-style">
                <p><strong>SKU:</strong> {{variante.sku}}</p>
                <p><strong>C&oacute;digo de barras:</strong> {{variante.code}}</p>
                <p><strong>Impuestos:</strong> {{variante.tax.name}}</p>
                <p><strong>Peso:</strong> {{variante.weight}} Kg.</p>
            </div>
            <div class="col-md-5 border-style in-Margin">
                <p><strong>Descripci&oacute;n:</strong> {{variante.description}}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row inMargin">
            <div class="col-md-11">
                <div class="panel" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h2>&Aacute;reas de almac&eacute;n</h2>
                        <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
                        <div class="options">

                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr class="info">
                                    <th>Locaci&oacute;n</th> 
                                    <th>Almac&eacute;n</th> 
                                    <th>En almacen</th> 
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="alm in variante.variant_warehouses">
                                    <td>{{alm.warehouse.location_name}}</td>
                                    <td>{{alm.warehouse.name}}</td>
                                    <td>{{alm.stock}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row inMargin">
            <div class="col-md-11">
                <div class="panel" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h2>Precio Sugerido</h2>
                        <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
                        <div class="options">

                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <div class="col-md-2" ng-repeat="price in variante.variant_prices">
                            <label>{{price.label}}</label>
                            <div class="input-group bootstrap-touchspin">
                                <span class="input-group-addon bootstrap-touchspin-prefix">$</span>
                                {{price.cost}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>     
    </div>
</div>