<div ng-controller="CtrlFacturacion">
  <ol class="breadcrumb">
    <li class=""><a href="#/">Home</a></li>
    <li class=""><a href="#/app-vistaFacturacion">Facturación</a></li>
    <li class="active"><a href="#">Nueva Divisa</a></li>
  </ol>
  <div class="page-heading">
    <h1>Nueva Divisa</h1>
  </div>
  <div class="tab-content">
      <form name="divisaForm"  ng-submit="subDivisa(divisaN)">
        <label for="Divisa">Divisa:</label>
        <input id="Divisa" type="text" name="nombre" ng-model="divisaN.shortcut" required /><br />
        <label for="Nombre">Nombre:</label>
        <input id="Nombre" type="text" name="desc" ng-model="divisaN.name" required /><br />
        <label for="Cambio">Cambio:</label>
        <input id="Cambio" type="number" name="unit" ng-model="divisaN.unit" required /><br />
        <br />
        <input type="submit" value="Guardar" class="btn btn-primary">
      </form>
      <br />
  </div>
</div>