<div ng-controller="EditCtrlProveedor">
	<ol class="breadcrumb">
        <li class=""><a href="#/">Home</a></li>
        <li class=""><a href="#/app-vistaProductos">Productos</a></li>
        <li class=""><a href="#/app-vistaProveedor">Proveedores</a></li>
        <li class="active"><a href="#">Proveedor: {{suppUProxy.name}}</a></li>
	</ol>
	<div class="page-heading">
		<h1>Proveedor: {{suppUProxy.name}}</h1>
		<div class="options">
	    	<div class="btn-toolbar">
	        	<a href="#/app-editarProveedor/{{ suppUProxy.id }}" class="btn btn-default"><i class="fa fa-fw fa-pencil"></i>Editar</a>
                <a ng-click="archivarProveedor()" class="btn btn-default"><i class="fa fa-fw fa-trash"></i>Archivar</a>
	    	</div>
		</div>
	</div>
	<div class="tab-content">
    <table class="table table-hover">
        <thead>
            <tr>
              <th>Nombre</th> 
              <th>Correo</th> 
              <th>Divisa</th> 
              <th>P&aacute;gina</th> 
              <th>Telefono</th> 
            </tr>
        </thead>
        <tr>
            <td>{{ suppUProxy.name }}</td>
            <td>{{ suppUProxy.email }}</td>
            <td>{{ suppUProxy.currency.name }}</td>
            <td>{{ suppUProxy.website }}</td>
            <td>{{ suppUProxy.phone }}</td> 
        </tr>
    </table> 
</div>
</div>