<style type="text/css">  
.border-style
{
  border-style: solid;
}
.inMargin
{
  margin-top: 2.3rem;
}
</style>
<div ng-controller="EditCtrlProdInd">
	<ol class="breadcrumb">
        <li class=""><a href="#/">Home</a></li>
        <li class=""><a href="#/app-vistaProductos">Productos</a></li>
        <li class="active"><a href="#">Producto: {{ prod.name }}</a></li>
	</ol>
	<div class="page-heading">
		<h1>Producto: {{ prod.name }}</h1>
        <div class="options">
	    	<div class="btn-toolbar">
	        	<a href="#/app-editarProducto/{{prod.id}}" class="btn btn-default"><i class="fa fa-fw fa-pencil"></i>Editar</a>
                <a ng-click="elimProd()" class="btn btn-default"><i class="fa fa-fw fa-trash"></i>Eliminar</a>
	    	</div>
		</div>
	</div>
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-5 border-style">
                <p><strong>Marca:</strong> {{ prod.brand.name }}</p>
                <p><strong>Proveedor:</strong> {{ prod.supplier.name }}</p>
            </div>
            <div class="col-md-5 col-md-offset-1 border-style">
                <p><strong>Descripci&oacute;n:</strong> {{prod.description}}</p>
                
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row inMargin">
            <div class="col-md-11">
                <div class="panel panel-info" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h2>Variantes</h2>
                        <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
                        <div class="options">

                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr class="info">
                                    <th>Variantes</th> 
                                    <th>SKU</th> 
                                    <th>Disponible</th> 
                                    <th>En almacen</th> 
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat=" vari in prod.variants" >
                                    <td><a href="#/app-vistaVarianteInd/{{vari.id}}">{{ vari.name }}</a>   <span ng-show="vari.status=='U'||vari.status=='t'">No disponible</span><span ng-show="vari.status=='I'">Incompleto</span><span ng-show="vari.status=='A'">Archivado</span><span ng-show="vari.status=='C'||vari.status=='f'">Completo</span></td>
                                    <td>{{ vari.sku }}</td>
                                    <td><span ng-show="vari.disponible<0">{{vari.disponible+vari.almac}}</span><span  ng-show="vari.disponible==0">{{vari.disponible}}</span></td>
                                    <td>{{vari.almac}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>     
    </div>
</div>