<div ng-controller="CtrlEditarDirEnvio">
  <ol class="breadcrumb">
      <li class=""><a href="#/">Home</a></li>
      <li class=""><a href="#/app-vistaClientes">Clientes</a></li>
      <li class=""><a href="#/app-vistaClienteInd/{{clientes.$id}}">Cliente: {{clientes.nombre}}</a></li>
      <li class="active"><a href="#">Editar Envio</a></li>
  </ol>
  <div class="page-heading">
    <h1>Editar direccion de envio</h1>
    
  </div>
  <div class="tab-content">
    <form name="EditarEnvio" ng-submit="editEnv()">
      <h3> Datos de envio</h3>
        <label for="ColCliEnEd">Colonia:</label>
        <input id="ColCliEnEd" type="text" name="precio" ng-model="sendOrd.neighborhood"   required /><br />
        <label for="CalleCliEnEd">Calle:</label>
        <input id="CalleCliEnEd" type="text" name="desc" ng-model="sendOrd.street"  required /><br />
        <label for="NumeroCliEnEd">Numero:</label>
        <input id="NumeroCliEnEd" type="text" name="desc" ng-model="sendOrd.number"  required /><br />
        <label for="EntCliEnEd">Entidad:</label>
        <input id="EntCliEnEd" type="text" name="desc" ng-model="sendOrd.entity"  required /><br />
        <label for="MunCliEnEd">Municipio:</label>
        <input id="MunCliEnEd" type="text" name="desc" ng-model="sendOrd.municipalty"  required /><br />
        <label for="cpCliEnEd">CP:</label>
        <input id="cp" type="text" name="desc" ng-model="sendOrd.zipcode" required  /><br />
        <br />
        <input type="submit" value="Guardar" class="btn btn-primary">
    </form>    
  </div>


</div>