<style type="text/css">
    
.borde-input
{
  border-style: solid;
}
.top-buffer { margin-top:20px; }
    </style>
<div ng-controller="EditCtrl">
  <ol class="breadcrumb">
    <li class=""><a href="#/">Home</a></li>
    <li class=""><a href="#/app-vistaProductos">Productos</a></li>
    <li class=""><a href="#/app-vistaMarcas">Marcas</a></li>
    <li class="active"><a href="#">Edicion</a></li>
  </ol>
  <div class="page-heading">
    <h1>Marca {{marcaUProxy.name}}</h1>
  </div>
    <div class="container-fluid">
         <form name="EdMarcaForm"  ng-submit="editTest(marcaUProxy)">
            <div class="tab-pane">
                <div class="row top-buffer ">
                    <div class="col-md-6 borde-input">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="NomEdMar">Nombre:</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"  id="NomEdMar" type="text" name="name" ng-model="marcaUProxy.name" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-primary pull-right" value="Guardar" style="background-color:#93351F;border-color:#93351F;">
                        <a href="#/app-vistaMarcas" style="padding: 7px 15px;" class="pull-right">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>