<style type="text/css">
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
    </style>
<div ng-controller="CtrlClientes">
	<ol class="breadcrumb">
	    <li class=""><a href="#/">Home</a></li>
	    <li class=""><a href="#/">Dashboard</a></li>
	    <li class="active"><a href="#">Clientes</a></li>
	</ol>
	<div class="page-heading">
		<h1>Clientes</h1>
		<div class="options">
	    	<div class="btn-toolbar">
	        	<a href="#/app-nuevoCliente" class="btn btn-default"><i class="fa fa-fw fa-plus"></i>Agregar Cliente</a>
	    	</div>
		</div>
	</div>
	<div class="tab-content">
      <table>
          <col width="180">
          <col width="280">
          <col width="280">
          <col width="280">
          <col width="280">
          <thead>
              <tr>
                <th>Nombre</th> 
                <th>Correo</th> 
                <th>P&aacute;gina</th> 
                <th>Tel&eacute;fono</th> 
                <th>Precio</th>
              </tr>
          </thead>
          <tr ng-repeat="cliente in clientesTods">
              <td><a href="#/app-vistaClienteInd/{{ cliente.id }}">{{ cliente.name }}</a></td>
              <td>{{ cliente.email }}</td>
              <td>{{ cliente.website }}</td>
              <td>{{ cliente.phone }}</td>
              <td>{{ cliente.price.name }}</td>
          </tr>
      </table>
  </div>
</div>	