<div ng-controller="EditCtrl">
	<ol class="breadcrumb">
	    <li class=""><a href="#/">Home</a></li>
	    <li class=""><a href="#/app-vistaProductos">Productos</a></li>
	    <li class="active"><a href="#">Marcas</a></li>
	</ol>
	<div class="page-heading">
		<h1>Marcas</h1>
		<div class="options">
	    	<div class="btn-toolbar">
	        	<a href="#/app-nuevaMarca" class="btn btn-default"><i class="fa fa-fw fa-plus"></i>Agregar Marca</a>
	    	</div>
		</div>
	</div>
    <div class="tab-content">
        <div class="container-fluid">
            <div class="row">
                <label>Buscar: <input ng-model="searchText"></label>
                <table class="table table-hover">
                    <thead>
                        <tr class="info">
                            <th>Marca</th>  
                            <th></th> 
                            <th></th> 
                        </tr>
                    </thead>
                    <tr ng-repeat="marcaP in marcasProxy.data | filter:{name: searchText}| filter:{status:'D'}" >
                        <td>{{ marcaP.name }}</td>
                        <td><a href="#/app-editarMarcas/{{ marcaP.id }}">Editar</a></td>
                        <td><a ng-click="removeTest(marcaP.id)">Eliminar</a></td>
                    </tr>
                </table> 
            </div>
        </div>
    </div>
	<!--<div class="row">
        <div class="col-md-12">
            <div class="panel panel-transparent">         
                <div class="panel-body">
                    <div class="input mb-xl">
                        <input type="text" ng-model="filterOptions.filterText" class="form-control" placeholder="Buscar...">
                    </div>

                    <div class="panel">
                        <div class="panel-body no-padding">
                            <div style="height: 512px;" ng-grid="gridOptions"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>-->
</div>	