<style type="text/css">
.bor-tab{border-style: solid;
    border-width: 1px;}
</style>
<div ng-controller="CtrlTransferencias">
    <ol class="breadcrumb">
        <li class=""><a href="#/">Home</a></li>
        <li class="active"><a href="#">&Oacute;rdenes</a></li>
        <li class="active"><a href="#">Transferencia</a></li>
    </ol>
    <div class="page-heading">            
        <h1>&Oacute;rdenes de transferencia</h1>
        <div class="options">
            <div class="btn-toolbar">
                <a href="#/app-nuevaTransferencia"  class="btn btn-default"><i class="fa fa-fw fa-plus"></i>Crear &oacute;rden</a>
            </div>
        </div>
    </div>
    <div class="tab-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ">   
                    <table class="table table-hover">
                        <thead>
                            <tr class="info">
                                <th>Folio</th> 
                                <th>Origen</th> 
                                <th>Destino</th> 
                                <th>Estado</th> 
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="transf in transferencias">
                                <td><a href="#/app-vistaTransInd/{{transf.id}}">{{transf.number}}</a></td>
                                <td>{{transf.origin.warehouse.location_name}} - {{transf.origin.warehouse.name}} - {{transf.origin.name}}</td>
                                <td>{{transf.destination.warehouse.location_name}} - {{transf.destination.warehouse.name}} - {{transf.destination.name}}</td>
                                <td>{{transf.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>