<style type="text/css">
.bor-tab{border-style: solid;
    border-width: 1px;}
</style>
<div ng-controller="EditCtrlProductos">
    <ol class="breadcrumb">
        <li class=""><a href="#">Home</a></li>
    </ol>
    <div class="page-heading">            
        <h1>Productos</h1>
        <div class="options">
            <div class="btn-toolbar">

                <a href="#/app-nuevoProducto" class="btn btn-default"><i class="fa fa-fw fa-plus"></i>Agregar Producto</a>
            </div>
        </div>
    </div>
    <div class="tab-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 bor-tab">   
                    <table class="table table-hover">
                        <thead>
                            <tr class="info">
                              <th>Nombre</th>
                              <th>Marca</th> 
                              <th>Variantes</th> 
                            </tr>
                        </thead>
                        <tr ng-repeat=" prod in productos">
                            <td><a href="#/app-vistaProductoInd/{{prod.id}}">{{ prod.name }}</a></td>
                            <td>{{ prod.brand.name }}</td>
                            <td>{{prod.variants.length}}</td>
                        </tr>
                    </table> 
                </div>
            </div>
        </div>
    </div>
</div>