<div ng-controller="CtrlFacturacion">
  <ol class="breadcrumb">
    <li class=""><a href="#/">Home</a></li>
    <li class=""><a href="#/app-vistaFacturacion">Facturación</a></li>
    <li class="active"><a href="#">Editar Precio</a></li>
  </ol>
  <div class="page-heading">
    <h1>Precio {{pricesEd.name}}</h1>
  </div>
  <div class="tab-content">
      <form name="personForm2"  ng-submit="editPrices()">
        <label for="nomPreEd">Nombre:</label>
        <input id="nomPreEd" type="text" name="nombre" ng-model="pricesEd.name" required /><br />
        <label for="desPreEd">Descrpci&oacute;n:</label>
        <input id="desPreEd" type="text" name="desc" ng-model="pricesEd.description" required /><br />
        
        <br />
        <input type="submit" value="Guardar" class="btn btn-primary">
      </form>
      <br />
  </div>
</div>