<div ng-controller="EditCtrl">
	<ol class="breadcrumb">
	    <li class=""><a href="#/">Home</a></li>
	    <li class=""><a href="#/app-vistaProductos">Productos</a></li>
	    <li class="active"><a href="#">Marcas</a></li>
	</ol>
	<div class="page-heading">
		<h1>Marcas</h1>
		<div class="options">
	    	<div class="btn-toolbar">
	        	<a href="#/app-nuevaMarca" class="btn btn-default"><i class="fa fa-fw fa-plus"></i>Agregar Marca</a>
	    	</div>
		</div>
	</div>
	<div class="tab-content">
		<a href=""></a>
	    <table class="table table-hover">
	        <thead>
	            <tr class="info">
	              	<th>Marca</th>  
	              	<th></th> 
	            </tr>
	        </thead>
	        <tr ng-repeat="marcaP in marcasProxy.data" >
	            <td>{{ marcaP.name }}</td>
	            <td><a href="#/app-editarMarcas/{{ marcaP.id }}">Editar</a>
	            <a ng-click="removeTest(marcaP.id)" ng-confirm-click="¿Esta seguro de eliminar el registro?, si la marca esta asignada no se podra eliminar">Eliminar</a></td>
	        </tr>
	    </table> 
	</div>
</div>	