<div ng-controller="EditCtrlProveedor">
  <ol class="breadcrumb">
      <li class=""><a href="#/">Home</a></li>
      <li class=""><a href="#/">Dashboard</a></li>
      <li class="active"><a href="#">Proveedores</a></li>
  </ol>
  <div class="page-heading">
    <h1>Proveedores</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-default"><i class="fa fa-fw fa-wrench"></i></a>
        </div>
    </div>
  </div>
  <div class="tab-content">
    <a href="#/app-nuevoProveedor">Agregar Proveedor</a>
      <table class="table table-hover">
          <thead>
              <tr>
                <th>Nombre</th> 
                <th>Correo</th> 
                <th>Divisa</th> 
                <th>Pagina</th> 
                <th>Telefono</th> 
              </tr>
          </thead>
          <tr ng-repeat="supp in suppProxy">
              <td>{{ supp.name }}</td>
              <td>{{ supp.email }}</td>
              <td>{{supp.currency.shortcut}}</td>
              <td>{{ supp.website }}</td>
              <td>{{ supp.phone }}</td>
          </tr>
      </table>
  </div>

</div>
