<style type="text/css">
    
.form-control
{
  border: 1px solid #90a4ae;
  border-top: 1px solid #90a4ae;
}
.inMargin
{
  margin-top: 2.3rem;
}
.border-style
{
  border-style: solid;
}
    </style>
<div ng-controller="EditCtrlProductos">
  <ol class="breadcrumb">
      <li class=""><a href="#/">Home</a></li>
      <li class=""><a href="#/app-vistaProductos">Productos</a></li>
      <li class=""><a href="#">{{prodname}}</a></li>
      <li class="active"><a href="#">Alta de variantes</a></li>
  </ol>
  <div class="page-heading">
    <h1>Alta de variantes</h1>
  </div>
  <div class="container-fluid">
    <form name="productVariantForm" ng-submit="subVariant(variants)">
      <div class="tab-pane">
        <div class="row ">
          <div class="col-md-12">
            <h3>Crear variantes de productos</h3>
            <p>Selecciona los criterios para definir las variantes del producto. Por ejemplo color y tamaño te dara todas las combinaciones para tus variantes. Cada variante se separa por coma.</p>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-12 border-style">
            <div data-ng-repeat="variant in variants">
              <div class="form-group title-field">
                <div class="row ">
                  <div class="col-md-3">
                    <label for="">Variantes</label>
                    <select class="form-control input-full" data-ng-model="variant.Selection">
                      <option  value="">Selecciona un criterio</option>
                      <option ng-repeat="option in rules" value="{{option.id}}">{{option.name}}</option>  
                    </select>
                  </div>
                  <div class="col-md-7 inMargin">
                    <textarea class="form-control" ng-list="" data-ng-model="variant.Text"></textarea>
                  </div>
                  <div class="col-md-2 inMargin">
                    <input type="button" ng-click="removeItem($index)" class="btn delete-field-{{$index}} btn-primary pull-right" value="Eliminar" style="background-color:#93351F;border-color:#93351F;">
                  </div>
                </div>             
              </div>
            </div>
            <input type="button" ng-click="cloneItem()" class="btn btn-primary pull-right" value="Agregar Variantes" style="background-color:#93351F;border-color:#93351F;">
          </div>
        </div>
      </div>
      <input ng-disabled="genVar" type="submit" class="btn btn-primary pull-right" value="Generar Variantes" style="background-color:#93351F;border-color:#93351F;">
    </form>    
  </div>
</div>
