<div class="container" id="login-form" ng-controller="CtrlSigUp">
  <a href="index.html" class="login-logo"><img masked-image style="width: 100%;max-width: 350px;" src="assets/img/logoformacret.png"></a>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Iniciar sesion</h2>
          </div>
          <div class="panel-body"> 
            
            <form ng-submit="createLog()" class="form-horizontal" id="validate-form">
              <div class="form-group">
                            <div class="col-xs-12">
                              <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </span>
                    <input type="text" ng-model="us" class="form-control" placeholder="Usuario" data-parsley-minlength="6" placeholder="At least 6 characters" required>
                  </div>
                            </div>
              </div>

              <div class="form-group">
                            <div class="col-xs-12">
                              <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-key"></i>
                    </span>
                    <input ng-model="pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                  </div>
                            </div>
              </div>
            
            <div class="panel-footer">
              <div class="clearfix">
                <input type="submit" class="btn btn-primary pull-right" value="Entrar" style="background-color:#93351F;border-color:#93351F;">
              </div>
            </div>
            </form>
            <!--<form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
              <div class="form-group">
                <label>email</label>
                <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control"/>
              </div>

              <div class="form-group">
                <label>password</label>
                <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control"/>
              </div>

              <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
            </form>-->
          </div>
        </div>
      </div>
    </div>
</div>